[Unit]
Description=PhantomMC game session
After=network-online.target seatd.service
Wants=network-online.target
Requires=seatd.service

[Service]
Type=simple
User=phantom
Group=phantom
PAMName=login
TTYPath=/dev/tty1
StandardInput=tty
StandardOutput=journal+console
StandardError=journal+console
EnvironmentFile=-/etc/phantom/manifest.env
ExecStart=/usr/lib/phantom/session
Restart=no

[Install]
WantedBy=graphical.target
